.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}


.content-area {
  flex: 1;
  display: flex;
  overflow: hidden;
  position: relative;
}

.content-area.board {
  flex-direction: column;
}

.content-area.timeline {
  flex-direction: column;
}

.full-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
}

